.bookmark {
    padding: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.bookmark-title {
    font-size: 20px;
    color: blue;
    margin-bottom: 24px;
    font-weight: bold;
}

.bookmark-container {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media (min-width: 750px) {
    .bookmark {
        padding: 16px 64px;
    }

    .bookmark-title {
        font-size: 30px;
    }
}