.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(90deg,#6a0dad,#d059ff);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 90px;

}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.cta{
    padding: 10px 40px;
    border-radius: 8px;
    background: white;
    color: rgb(181, 32, 240);
    font-weight: 600;
    cursor: pointer;
}
.cta:hover {
    background: #8e45bb;
}
@media (min-width: 750px) {
    .header {
        padding: 16px 64px;
    }

    .logo {
        font-size: 30px;
    }
}