input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid #a259ff;
    margin-bottom: 12px;
    font-size: 16px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
}

.err {
    color: red;
    font-size: 14px;
}