*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('/images/Background.png');
  background-size: contain;          
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: fixed;    
  color: #fff;
  min-height: 100vh;
    background-color: #000;         /* fills empty space behind image */


}

.cta {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #436850;
  color: white;
  border: 0;
  cursor: pointer;
}

.cta:hover {
  background-color: #304D43;
}

.cta-secondary {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: white;
  color: #436850;
  border: 1px solid #436850;
  cursor: pointer;
}
.app-container {
  padding: 40px;
  text-align: center;
  backdrop-filter: blur(5px);
    max-width: 800px;
  margin: 0 auto;

}