.card {
    background: #fff;
    border-radius: 12px;
    border: 2px solid #a259ff;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 1 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.card-title {
    font-size: 20px;
    color: #6a0dad;
    font-weight: bold;
}

.card-url {
    color: #a259ff;
}

.btn-edit {
    margin-left: auto;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #28a745;
    text-decoration: underline;
    cursor: pointer;

}

.btn-delete {
    border: 0;
    padding: 0;
    background-color: transparent;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}