.card {
  background: rgba(230, 224, 224, 0.15); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px) saturate(150%);
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 15px;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 350px;          
  min-height: 180px; 
  max-width: 100%; 
    word-break: break-all;
}


.card:hover {
    transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
.card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.card p {
  font-size: 1rem;
  opacity: 0.95;
  line-height: 1.4;
  margin-bottom: 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  
}


.card button {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.card button:hover {
  transform: scale(1.07);
  background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
}
