.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(106, 13, 173, 0.35);
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) ;
    z-index: 101;
    animation: slide-down 300ms ease-out forwards;
}

.modal h2 {
    font-size: 18px;
    margin-bottom: 16px;
    color :white;
    background: #a259ff;
     font-weight: 600;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .btn-container button {
    background-color: transparent;
    color: #6a0dad;
    border: 2px solid #6a0dad;
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.modal .btn-container button:hover {
    background-color: #7f2aff; 
    transform: translateY(-2px);
    color:white;
}

/*cancel*/
.modal .btn-container button[type="button"] {
    background-color: transparent;
    color: #6a0dad;
    border: 2px solid #6a0dad;
}

.modal .btn-container button[type="button"]:hover {
    background-color: #6a0dad;
    color: #fff;
    transform: translateY(-2px);
}